
@media(max-width:880px){
  #hidden-switch{
  display:block !important;
  }

  .menu{
    display: none;
  }
}

@media(max-width:670px){
  .about-right{
    float:none;
  }

  .about-left{
    float:none;
  }
}
